example.com { # change exmaple.com  with your domain name
    @wants_activity {
        header Accept *application/activity+json*
    }

    handle @wants_activity {
        reverse_proxy app:4000
    }

    handle /api/* {
        reverse_proxy app:4000
    }
    handle /outbox* {
        reverse_proxy app:4000
    }
    handle /inbox* {
        reverse_proxy app:4000
    }
    handle /.well-known/* {
        reverse_proxy app:4000
    }
    handle /actor* {
        reverse_proxy app:4000
    }

    handle /media/* {
        reverse_proxy app:4000
    }

    handle {
        reverse_proxy app:3000
    }
}